<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>xunuwu</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
     <header>
        <h1>xunuwu</h1>
     </header>
     <main>
        <hr>
        <p>
         hi im xun 😼
         <br>
         i code and play video games sometimes (mostly roblox and fps games)
        </p>
        <div id="link-section">
           <section>
           <h2>projects</h2>
              <ul>
                 {% for item in projects %}
                  <li>
                     <a href="{{ item.link }}" {% if item.info %} title="{{ item.info }}" {% endif %} target="_blank" rel="noopener noreferrer">
                        {{ item.title }}
                     </a>
                  </li>
                 {% endfor %}
              </ul>
           </section>
           <section>
              <h2>socials</h2>
              <ul>
                 {% for item in socials %}
                  <li><a href="{{ item.link }}" target="_blank" {% if item.handle %} title="{{ item.handle }}" {% endif %} rel="noopener noreferrer">{{ item.name }}</a></li>
                 {% endfor %}
              </ul>
           </section>
        </div>
     </main>
  </body>
</html>
